<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <style>
    .links{
        size: 5px;
        color:black;
    }
    </style>
</head>
<body>
        <div id="navbar" class="container-fluid" style="border-bottom: 1px solid rgb(255, 255, 255); background-color: white">
                <div class="links">
                    <div class="row">
                    <div class="col-md-2" style="padding-top:10px;">
                        </div>
        
                    <div class="col-md-1" style="padding-top:10px;">
                   
                    </div>
                    <div class="col-md-1" style="padding-top:10px;">
                    <a href="{% url 'businesses'%}">paintings
                     </a>
                    </div>
                    <div class="col-md-1" style="padding-top:10px;">
                      <a href="{% url 'businesses'%}">sculptures
                          </a>
                    </div>
                    <div class="col-md-1" style="padding-top:10px;">
                        <a href="{% url 'blog'%}">poetry
                            </a>
                    </div>
                    <div class="col-md-1" style="padding-top:10px;">
                    
                    <a href="{% url 'businesses'%}">drawings
                        </a> 
                    </div>
                    <div class="col-md-2" style="padding-top:10px;">
                    <a href="{% url 'businesses'%}">photography
                     </a>
                    </div>
                    
                    </div>
                    </div>
                

</body>